.bg-dark {
    background-color: #000421 !important;
    box-shadow: 0px 10px 20px 20px #000421;
}
.bg-dark2 {
    background-color: #000211 !important;
    box-shadow: 0px 10px 20px 20px #000421;
}

.marginBottom {
    margin-top: 200px;
}


.iconSocial {
    background-color: white;
    padding: 2px 4px;
    border-radius: 50%;
}

.iconSocial:hover {
    background-color: rgb(175, 175, 175);
    transition: all 0.3s;
}