
<div id="Accueil">
    <header class="text-center container rounded-lg mb-0 vh-100 d-flex flex-column justify-content-center">
        <h1 class="display-3"> {{title}} </h1>
        <p> {{catch_phrase}} </p>
        <div>
            <a [routerLink]="btn_header_link" class="btn btn-lg btn-secondary"><i class="fas fa-arrow-up"></i> {{btn_header_name}} </a>
        </div>
    </header>
</div>

<div class="container-fluid">
    <div class="container mt-5">
        <div class="row justify-content-center">
    
            <div class="col-lg-9">
                
                <!-- Section "A propos de moi" -->
                <div class="col d-flex my-5" id="Biographie">
                    <div class="card shadow-sm text-dark d-flex flex-grow-1">
                        <div class="card-body fixAfter d-flex flex-column align-items-center d-md-block flex-md-row">
                            <img [src]="avatar_url" alt="{{avatar_alt}}" class="Avatar">
                            <h3>{{name}}</h3>
                            <p class="card-text" >{{desc}}</p>
                        </div>
                    </div>
                </div>

                <!-- Section "Compétences" -->
                <div class="row flex-column flex-lg-row g-5 my-5 mb-lg-0">
                
                    <div class="col d-flex my-5">
                        <div class="card shadow-sm text-dark d-flex flex-grow-1" id="Competences">
                            <div class="card-header text-center">
                                <h3 class="mb-3">Compétences en programation</h3>
                            </div>
                            <div class="card-body ">
                                <h4 class="text-center">Language</h4>
                                <hr>

                                <div>
                                    <div *ngFor="let language of skillsLanguageTab">
                                        <h5 class="card-title"><fa-icon attr.style="color: {{language.color}};" [icon]="language.icon" class="p-1"></fa-icon> {{language.name}}</h5>
                                        <div class="progress mb-3">
                                            <div class="progress-bar" role="progressbar" attr.style="width: {{language.value}};" attr.aria-valuenow="{{language.value}}" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                    <!-- <div class="d-flex flex-row align-items-center mb-2 ps-1">
                                        <img [src]="cplusicon" width="20px" height="20px" alt="C++ icons">
                                        <h5 class="card-title ms-2 mb-0">C++</h5>
                                    </div>
                                    <div class="progress mb-3">
                                        <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                                            aria-valuemax="100">
                                        </div>
                                    </div> -->
                                </div>

                                <hr>
                                <h4 class="text-center">Frameworks</h4>
                                <hr>

                                <div>
                                    <div *ngFor="let frameworks of skillsFrameworksTab">
                                        <h5 class="card-title"><fa-icon attr.style="color: {{frameworks.color}};" attr.icon="{{frameworks.icon}}" class="p-1"></fa-icon> {{frameworks.name}}</h5>
                                        <div class="progress mb-3">
                                            <div class="progress-bar" role="progressbar" attr.style="width: {{frameworks.value}};" attr.aria-valuenow="{{frameworks.value}}" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Section "Parcours Professionnel" -->
                <div class="col d-flex  my-5" id="Parcours">
                    <div class="card shadow-sm text-dark d-flex flex-grow-1">
                        <div class="card-header text-center">
                            <h3>Parcours Professionnel</h3>
                        </div>

                        <!-- Entreprise Afpar -->
                        <div class="card-body" *ngFor="let element of professionnal_careerTab">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <h4 class="card-title m-0">{{element.title}}</h4>
                                <p class="text-lefth m-0 ">{{element.date}}</p>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <h5 class="card-subtitle">Entreprise: </h5>
                                <p class="ms-2 mb-0">{{element.entreprise}}</p>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <h5 class="card-subtitle">Lieu:</h5>
                                <p class="ms-2 mb-0">{{element.lieu}}</p>
                            </div>
                            <h5 class="card-subtitle">Déscription du poste:</h5>
                            <p class="card-text">
                                {{element.desc}}
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>

                <!-- Section "Loisirs et Formations" -->
                <div class="row  flex-column flex-lg-row g-5 my-5 mb-lg-0">
                
                    <!-- Section "Formations " -->
                    <div class="col my-5 d-flex" id="Formations">
                        <div class="card shadow-sm text-dark d-flex flex-grow-1">
                            <div class="card-header text-center">
                                <h3 class="mb-3">Formations</h3>
                            </div>
                            <div class="card-body" *ngFor="let formation of formationTab">
                                <h4 class="card-title">{{formation.title}}</h4>
                                <h5 class="card-subtitle">{{formation.etablisement}}</h5>
                                <p class="card-text">
                                    <strong>Lieu: </strong> {{formation.lieu}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Section "Informations" -->
                    <div class="col my-5 d-flex " id="Informations">
                        <div class="card shadow-sm text-dark d-flex flex-grow-1">
                            <div class="card-header text-center">
                                <h3 class="mb-3">Informations</h3>
                            </div>
                            <div class="d-flex flex-row ">
                                <div class="card-body">
                                    <h5>Loisirs</h5>
                                    <p class="card-text ">{{hobbies_list}}</p>
                                </div>
                                <div class="card-body">
                                    <h5>Langues</h5>
                                    <div *ngFor="let langue of languageTab">
                                        <strong class="card-text">{{langue.language}}</strong>
                                        <p class="card-text">{{langue.origine}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>

                <!-- Section "Mes réalisations" -->
                <div class="col d-flex my-5 " id="MesRealisations">
                    <div class="card shadow-sm text-dark d-flex flex-grow-1">
                        <div class="card-header text-center">
                            <h3>Mes réalisations</h3>
                        </div>
                        <!-- lien site -->
                        <div class="card-body">
                            <div *ngFor="let achievement of achievementsTab">
                                <div class="d-flex align-items-center mb-2">
                                    <h5 class="card-subtitle">Site web: </h5>
                                    <p class="ms-2 mb-0">{{achievement.title}}</p>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <h5 class="card-subtitle">Lien: </h5>
                                    <a class="nav-link ms-2 text-muted" href="{{achievement.url}}">{{achievement.url}}</a>
                                </div>
                                <hr>
                            </div>
                        </div>            
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
